PORT=3000
BITGET_LIVE_API_KEY=
BITGET_LIVE_API_SECRET=
BITGET_LIVE_PASSPHRASE=
BITGET_PRODUCT_TYPE=USDT-FUTURES
CREDENTIAL_ENCRYPTION_KEY=
LIVE_MODE_PIN=
MAX_CONCURRENT_POSITIONS=3
MAX_DAILY_LOSS_PCT=5.0
RISK_PER_TRADE_PCT=1.0
TIMEZONE=UTC